node_modules
# Keep environment variables out of version control
.env
.env.local
leadimmo-9a856-firebase-adminsdk-fbsvc-4f5b5fa5db.json

# Prisma
prisma/dev.db

# Next.js build output
.next/

/src/generated/prisma
